<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Form</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="text-center">Получить информацию о погоде</h3>
                    </div>

                    <!-- Кнопки регистрации, входа, выхода -->
                    <div class="mt-3">
                            {% if user.is_authenticated %}
                                <a href="{% url 'user:logout' %}" class="btn btn-danger btn-block">Выйти</a>
                            {% else %}
                                <a href="{% url 'user:login' %}" class="btn btn-success btn-block">Войти</a>
                                <a href="{% url 'user:register' %}" class="btn btn-info btn-block">Зарегистрироваться</a>
                            {% endif %}
                    </div>
                    <div class="card-body">
                        <!-- Последний просмотренный город -->
                        {% if last_city %}
                            <div class="alert alert-info" role="alert">
                                Последний город, в котором вы смотрели погоду: <strong>{{last_city}}</strong>. Хотите посмотреть ещё раз?
                                <form id="lastCityForm" method="post" style="display: inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="city" value="{{ last_city.id }}">
                                    <button type="submit" class="btn btn-link p-0 align-baseline">Да</button>
                                </form>
                            </div>
                        {% endif %}

                        <!-- Отображаем форму выбора города, если нет информации о погоде -->
                        {% if weather_error %}
                            <div class="alert alert-success" role="alert">
                                <h4 class="alert-heading">Ошибка при получении информации. Повторите запрос позже</h4>
                            </div>
                        {% endif %}

                        <!-- Отображаем информацию о погоде, если она есть -->
                        {% if weather %}
                            <div class="alert alert-success" role="alert">
                                <h4 class="alert-heading">Погода в городе {{city}} на текущий момент:</h4>
                                <p>Температура: {{ weather.current.temperature }}</p>
                                <h4 class="alert-heading">Погода в городе {{city}} за сутки:</h4>
                                <br>
                                {% for hour in weather.hourly %}
                                <p>Время: {{hour.time}}</p>
                                <p>Температура: {{hour.temperature}}</p>
                                <br>
                                {%endfor%}
                            </div>
                        {% endif %}
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="city">Город</label>
                                {{form.city}}
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Узнать погоду</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>